* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: dana;
    src: url(./font/dana-fanum-regular.1f3bda4f.woff2);
}

body {
    background-color: #053044;
}

nav {
    background-color: #053044;

}

nav.navbar>div.container-fluid>img {
    width: 70px;

}

li>a,
div.container-fluid>a {
    cursor: pointer;
    color: whitesmoke !important;
}

form>button {
    outline: 1px solid #495398;
    background-color: whitesmoke !important;
}

.dropdown-item {
    color: #1A2B48 !important;
}

div.carousel {
    width: 100%;
    height: 500px !important;
}

div.carousel>div.carousel-item {
    width: inherit;
    height: inherit;
}

div.carousel>div.carousel-inner>div.carousel-item>img {
    width: inherit;
    height: 500px;
}

div.card {
    transition: 800ms;
    cursor: pointer;
    margin: 15px;
}

div.card:hover {
    box-shadow: 2px 2px 10px #9ECAD6;
}

div.card>div.card-body>div.card-btn>button {
    background-color: #1A2B48;
    color: whitesmoke;

}

div.mabaniContainer {
    background-color: #053044;
}

div.mabaniContainer>h3 {
    color: white;
}

div.mabaniContainer>div.mbCard>div.card>img {
    height: 200px;
}

div.card-icons>i {
    text-align: center;
    width: 40px;
    background-color: #b1ced684;
    padding: 2px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    color: #1A2B48;
    transition: 500ms;
}

div.card-icons>i:hover {
    background-color: #9ECAD6;
    cursor: pointer;
}

div.card-body>p {
    height: 110px;
}

div.card-btn>i {
    color: #1A2B48;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    font-style: normal;
}

div.video {
    width: 100%;
    height: 400px;
}

div.video>video {
    width: inherit;
    height: 400px;
    object-fit: fill;
}

.form-check-label {
    margin-right: 30px;
}

.btn-close {
    margin-left: unset !important;
}

button.accept-btn {
    background-color: #1A2B48;
}

button.accept-btn:hover {
    background-color: #1A2B48 !important;
    color: white !important;
    /* border: 1px solid #1A2B48; */
}


.about{
    display: block;
    color: aliceblue;
}
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }